<li {{#if chatData.selected}} class="chat chat_selected" {{else}} class="chat" {{/if}}>
  {{#if chatData.avatar}}
    
  {{else}}
    <div class="avatar-placeholder"></div>
  {{/if}}
  <div class="chat-description">
    <div class="chat-description__row">
      <h3 class="chat-name">{{chatData.chatName}}</h3>
      <time class="chat__last-message-time">{{chatData.lastMessageTime}}</time>
    </div>
    <div class="chat-description__row">
      <p class="chat__chat-last-message">{{{chatData.lastMessage}}}</p>
      {{#if chatData.lastMessageCount}}
        <div class="chat__last-message-count">{{chatData.lastMessageCount}}</div>
      {{/if}}
    </div>
  </div>
</li>