<li
    {{#if messageData.image}}
    class="message message_{{messageData.destination}} message_with_image"
    {{else}}
    class="message message_{{messageData.destination}}"
    {{/if}}
    >
        {{#if messageData.image}}
            <img src="{{messageData.image}}" alt="image" class="chats__message-image">
        {{else}}
            <p class="message__text">{{messageData.text}}</p>
        {{/if}}
        <time class="message__time">{{messageData.messageTime}}</time>
</li>